*.scss
*.scssc
*.map
MashovFix/משוב לתלמידים ולהורים.htm
MashovFix/TEST.jpg
MashovFix/משוב לתלמידים ולהורים_files/filterlist.js
MashovFix/משוב לתלמידים ולהורים_files/logInReflection.png
MashovFix/משוב לתלמידים ולהורים_files/loginTitle.png
MashovFix/משוב לתלמידים ולהורים_files/style.css
MashovFix/משוב לתלמידים ולהורים_files/textL.png
MashovFix/משוב לתלמידים ולהורים_files/textR.png
MashovFix/משוב לתלמידים ולהורים_files/title.png
ideas.html